<!DOCTYPE html>
html(lang="es")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Panel de administracion
    body
        h1 Bienvenido a este panel de administracion
        img(src="http://localhost:3000/static/prueba.jpg", alt="")