<!DOCTYPE html>
html(lang="es")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title index de app
    body
        h1 Hola mundo desde el motor de plantillas
        h3 mi nombre es #{nombre}